.admin-slider {
  padding: 20px;
  font-family: 'Poppins', sans-serif;

  h2 {
    margin-bottom: 15px;
  }
  
  .upload-box{

  input {
    margin-right: 10px;
    padding: 5px 18px;
  }

  button{
    padding: 5px 18px;
    margin-top: 10px;
    border-radius: 10px;
  }
  }


  .slider-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;

    .slide {
      border: 1px solid #ccc;
      padding: 10px;
      position: relative;
      img {
        width: 100px;
        height: auto;
        object-fit: cover;
      }

      button {
        background-color: crimson;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 8px 10px ;
        cursor: pointer;
      }
    }
  }
}
