.return-policy {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;

  h1 {
    font-size: 2rem;
    color: #000;
   text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    color: #444;
    border-bottom: 1px solid #ccc;

  }

  p {
    font-size: 1rem;
  }

  ul,
  ol {
    padding-left: 1.5rem;
    margin-top: 0.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  
  a {
    color: #d46a92; // your pink logo color
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
